.container {
  outline: solid;
  width: 400px;
}

.container.edit {
  outline: solid;
  width: 400px;
  background-color: darkblue;
}

button {
  width: 50px;
}

p {
  max-width: 50px;
}

.item {
  display: flex;
  justify-content: space-between;
}
